//Zapytanie o media
$medium: 'screen and (max-width: 768px)';
//Zmienne tekstu
$font-family: "Lato", Arial, sans-serif;
$line-height-base: 1.6;

$font-size-base: 15px;
$font-size-menu: 19px;
$font-size-menu-mobile: 22px;
$font-normal: 700;
$font-bold: 900;

//Zmienne koloru
$bright-green: #2ecc71;
$dark-green: #27ae60;
$bright-text-color:  #ecf0f1;
$menu-height: 50px;

//Różne
$number-of-lines: 3;