//Bootstrap LESS
@import "bootstrap/bootstrap";

//wlasne LESS - ogolne
@import "variables";
@import "mixins";
@import "global";

@import "header";
@import "master";
@import "footer";

@import "article";
@import "users";
@import "weather";


.progressbar-text{
  position: relative;
  left:74%;
  top: -47%;
  color:#36ade2;
}
